<!doctype html>
<meta charset='utf-8'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="style.css">

<div class="page">
	<div class="topic">
		<p><span class="mychannel"></span> <span class="channeltopic">HackChat
		<%= version %> </span></p>
	</div>

	<div class="chat">
	</div>

	<div class="input">
		<table>
			<tr>
				<td class="pre">&lt;<span class="mynick"><%= nick
				%></span><span class="ifchannel">:<span
				class="mychannel"></span></span>&gt;&nbsp;</td><td width='100%'><input id="cmd"></input></td>
			</tr>
		</table>
	</div>

</div>
