<!doctype html>
<meta charset='utf-8'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>

<h1>Hi <%= nick %>!</h1>
<button>Ping</button>
